<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
   <context:component-scan base-package="com.hyman.schedule" >
  	 <context:exclude-filter type="regex" expression="com.hyman.schedule.slave.controller.*"/> 
   </context:component-scan>
   <context:annotation-config/>

	<!-- 引用*.properites配置文件 -->
    <context:property-placeholder location="classpath*:config.properties" />
	<!-- properties属性注入 -->
	<bean id="configProperties" class="com.hyman.schedule.common.config.ConfigurationFactoryBean" />
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
    </bean> 

	<!-- jettyEmbedServer config -->
	<bean id="jettyEmbedServer" class="com.hyman.schedule.slave.JettyEmbedServer">
		<property name="port" value="${slave.port}"/>
	</bean>
	
	<import resource="classpath*:spring-rpc.xml"/>
	<import resource="classpath*:master-rpc-api.xml"/>
	<import resource="classpath*:spring-swagger.xml"/> 
	
</beans>
  